{% assign locale = include.locale | default: site.locale %}

{% assign tag_name = include.tag | default: page.tag %}
{% assign posts_for_tag = site.tags[tag_name] %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts_for_tag %}
    {% include archive-single.html locale=locale type=entries_layout %}
  {% endfor %}
</div>
<a href="{{ '/tags/' | relative_url }}" class="back-to-top">{{ site.data.ui-text[locale].back_to_top | default: 'Back to Top' }} &larr; {{ site.data.ui-text[locale].back_to_tags | default: 'Back to tags' }}</a>
